body {
  background-color: #f8f9fa;
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  border-radius: 10px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #282c34;
  color: white;
  padding: 10px 0;
}

